.boxCard {
    height: 100px;
    width: auto;
    min-width: 200px;
    margin: 5px;
    box-sizing: content-box;
}

.flexRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gridCard {
    display: grid;
    grid-template-columns: 50px auto;
    height: inherit;
    width: auto;
}

.gridMonth {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
    font-size: 20px;
    font-weight: bold;
}

.gridInfo {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: lightslategray 1px solid;
    border-left: none;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    font-weight: 500;
    white-space: nowrap;
}

.gridValue {
    width: 100%;
}
